#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #4682b4; /*color name: Steel Blue found at https://html-color.codes/blue*/
    color: #dcdcdc; /* Color name Gainsboro found at https://html-color.codes/silver */
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
    color: #1c352d; /* Color name Medium Jungle Green found at https://html-color.codes/green */
    text-decoration: none;
}

a:hover {
    color: #32cd32; /* Color name Lime Green found at https://html-color.codes/green */
}

a:visited {
    color: #006a4e; /* Color name Bottle Green found at https://html-color.codes/green */
}
