#container {
    text-align: center;
    position: relative;
    margin: 50px 100px 100px 100px;
}

#content {
    margin-bottom: 50px;
}

#image-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.gallery-item {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

h1, h3 {
    color: rgba(70, 130, 180, 1);
}

figcaption {
    font-style: italic;
    font-size: .75em;
}

#footer {
    position: absolute;
    bottom: 0;
    right: 0;
}   
 
a {
    padding: 10px;
}